<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dlut.mycloudserver.dal.mapper.ImageManageMapper">
	<resultMap id="RM-ImageDO" type="ImageDO">
		<result property="imageUuid" column="image_uuid" />
		<result property="imageName" column="image_name" />
		<result property="imageTotalSize" column="image_total_size" />
		<result property="imagePath" column="image_path" />
		<result property="imageFormat" column="image_format" />
		<result property="parentImageUuid" column="parent_image_uuid" />
		<result property="referenceCount" column="reference_count" />
		<result property="isDelete" column="is_delete" />
		<result property="isTemplate" column="is_template" />
		<result property="desc" column="image_desc" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModified" column="gmt_modified" />
	</resultMap>

	<sql id="select-param-column">
		image_uuid, image_name, image_total_size, image_path,
		image_format, parent_image_uuid, reference_count, is_delete,
		is_template, image_desc, gmt_create, gmt_modified
	</sql>

	<sql id="page-limit">
		LIMIT #{offset}, #{limit}
	</sql>

	<sql id="set">
		<set>
			<if test="imageName!=null">
				image_name=#{imageName},
			</if>
			<if test="imageTotalSize!=null">
				image_total_size=#{imageTotalSize},
			</if>
			<if test="imagePath!=null">
				image_path=#{imagePath},
			</if>
			<if test="imageFormat!=null">
				image_format=#{imageFormat},
			</if>
			<if test="parentImageUuid!=null">
				parent_image_uuid=#{parentImageUuid},
			</if>
			<if test="referenceCount!=null">
				reference_count=#{referenceCount},
			</if>
			<if test="isDelete!=null">
				is_delete=#{isDelete},
			</if>
			<if test="isTemplate!=null">
				is_template=#{isTemplate},
			</if>
			<if test="desc!=null">
				image_desc=#{desc},
			</if>
			gmt_modified = now(),
		</set>
	</sql>

	<sql id="query-condition">
		<if test="imageUuid!=null">
			image_uuid=#{imageUuid}
		</if>
		<if test="imageFormat!=null">
			AND image_format=#{imageFormat.value}
		</if>
		<if test="parentImageUuid!=null">
			AND parent_image_uuid=#{parentImageUuid}
		</if>
		<if test="referenceCount!=null">
			AND reference_count=#{referenceCount}
		</if>
		<if test="isTemplate!=null">
			AND is_template=#{isTemplate}
		</if>
		<if test="isDelete!=null">
			AND is_delete=#{isDelete}
		</if>
	</sql>

	<select id="getImageByUuid" resultMap="RM-ImageDO">
		SELECT
		<include refid="select-param-column" />
		FROM mycloud_image where image_uuid = #{imageUuid}
		<if test="isIncludDeletedImage=false">
			WHERE is_delete = 0
		</if>
	</select>

	<insert id="createImage">
		INSERT INTO mycloud_image(
		<include refid="select-param-column" />
		)
		VALUES(#{imageUuid}, #{imageName}, #{imageTotalSize}, #{imagePath},
		#{imageFormat}, #{parentImageUuid}, 0, 0,
		#{isTemplate}, #{desc},
		now(), now())
	</insert>

	<update id="updateImage">
		UPDATE mycloud_image
		<include refid="set" />
		WHERE image_uuid=#{imageUuid}
	</update>

	<delete id="deleteImageByUuid">
		<![CDATA[
		DELETE FROM mycloud_image WHERE image_uuid = #{imageUuid}
		]]>
	</delete>

	<select id="countQuery" resultType="int">
		SELECT COUNT(*)
		FROM
		mycloud_image
		<where>
			<include refid="query-condition" />
		</where>
	</select>

	<select id="query" resultMap="RM-ImageDO">
		SELECT
		<include refid="select-param-column" />
		FROM mycloud_image
		<where>
			<include refid="query-condition" />
		</where>
		<include refid="page-limit" />
	</select>

</mapper>