<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dlut.mycloudserver.dal.mapper.VmManageMapper">
	<resultMap id="RM-VmDO" type="VmDO">
		<result property="vmName" column="vm_name" />
		<result property="vmUuid" column="vm_uuid" />
		<result property="vmVcpu" column="vm_vcpu" />
		<result property="vmMemory" column="vm_memory" />
		<result property="imageUuid" column="image_uuid" />
		<result property="imageTotalSize" column="image_total_size" />
		<result property="imageFormat" column="image_format" />
		<result property="vmMacAddress" column="vm_mac_address" />
		<result property="vmNetworkType" column="vm_network_type" />
		<result property="vmStatus" column="vm_status" />
		<result property="hostId" column="host_id" />
		<result property="userAccount" column="user_account" />
		<result property="classId" column="class_id" />
		<result property="showType" column="show_type" />
		<result property="showPort" column="show_port" />
		<result property="showPassword" column="show_password" />
		<result property="parentVmUuid" column="parent_vm_uuid" />
		<result property="masterDiskBusType" column="master_disk_bus_type" />
		<result property="interfaceType" column="interface_type" />
		<result property="isTemplateVm" column="is_template_vm" />
		<result property="isPublicTemplate" column="is_public_template" />
		<result property="desc" column="vm_desc" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModified" column="gmt_modified" />
		<result property="isCanRead" column="canread_status"/>
		<result property="imageVersion" column="image_version"/>
		<result property="lastHostId" column="last_hostid"/>
		<result property="systemType" column="system_type"/>
	</resultMap>

	<sql id="select-param-column">
		vm_name, vm_uuid, vm_vcpu, vm_memory, image_uuid,
		image_total_size, image_format, vm_mac_address, vm_network_type,
		vm_status, host_id, user_account,
		class_id, show_type, show_port,
		show_password, parent_vm_uuid, master_disk_bus_type, interface_type,
		is_template_vm, is_public_template, vm_desc, gmt_create, gmt_modified,
		canread_status,image_version,last_hostid,system_type
	</sql>

	<sql id="page-limit">
		LIMIT #{offset}, #{limit}
	</sql>

	<sql id="query-condition">
		<if test="vmUuid!=null">
			vm_uuid=#{vmUuid}
		</if>
		<if test="vmName!=null">
			AND vm_name=#{vmName}
		</if>
		<if test="vmVcpu!=null">
			AND vm_vcpu=#{vmVcpu}
		</if>
		<if test="vmMemory!=null">
			AND vm_memory=#{vmMemory}
		</if>
		<if test="imageUuid!=null">
			AND image_uuid=#{imageUuid}
		</if>
		<if test="vmStatus!=null">
			AND vm_status=#{vmStatus.status}
		</if>
		<if test="hostId!=null">
			AND host_id=#{hostId}
		</if>
		<if test="userAccount!=null">
			AND user_account=#{userAccount}
		</if>
		<if test="classId!=null">
			AND class_id=#{classId}
		</if>
		<if test="parentVmUuid!=null">
			AND parent_vm_uuid=#{parentVmUuid}
		</if>
		<if test="isTemplateVm!=null">
			AND is_template_vm=#{isTemplateVm}
		</if>
		<if test="isPublicTemplate!=null">
			AND is_public_template=#{isPublicTemplate}
		</if>
			<if test="isCanRead!=null">
			AND	canread_status=#{isCanRead}
			</if>
			<if test="imageVersion!=null">
			AND	image_version=#{imageVersion}
			</if>
			<if test="lastHostId!=null">
			AND	last_hostid=#{lastHostId}
			</if>
			<if test="vmMacAddress!=null">
			AND	vm_mac_address=#{vmMacAddress}
			</if>
	</sql>

	<select id="getVmByUuid" resultMap="RM-VmDO">
		SELECT
		<include refid="select-param-column" />
		FROM mycloud_vm where vm_uuid=#{vmUuid}
	</select>
	


	<insert id="createVm">
		INSERT INTO mycloud_vm(vm_name, vm_uuid, vm_vcpu,
		vm_memory,
		image_uuid, image_total_size, image_format, vm_mac_address, vm_network_type, vm_status,
		host_id, user_account, class_id,
		show_type,
		show_port, show_password,
		parent_vm_uuid, master_disk_bus_type, interface_type,
		is_template_vm, is_public_template,system_type,
		vm_desc,
		gmt_create, gmt_modified)
		VALUES(#{vmName}, #{vmUuid}, #{vmVcpu},
		#{vmMemory},
		#{imageUuid}, #{imageTotalSize}, #{imageFormat}, #{vmMacAddress}, #{vmNetworkType}, 
		#{vmStatus},
		#{hostId}, #{userAccount},
		#{classId},
		#{showType},
		#{showPort},
		#{showPassword},
		#{parentVmUuid}, #{masterDiskBusType}, #{interfaceType},
		#{isTemplateVm},#{isPublicTemplate},#{systemType},
		#{desc}, now(), now())
	</insert>

	<delete id="deleteVmByUuid">
		<![CDATA[
		DELETE FROM mycloud_vm WHERE vm_uuid = #{vmUuid}
		]]>
	</delete>
	
	<delete id="deleteVmByClassId">
		<![CDATA[
		DELETE FROM mycloud_vm WHERE class_id = #{classId}
		]]>
	</delete>
	
	<delete id="deleteVmByUserAccount">
		<![CDATA[
		DELETE FROM mycloud_vm WHERE user_account = #{userAccount}
		]]>
	</delete>

	<update id="updateVm">
		UPDATE mycloud_vm
		<set>
			<if test="vmVcpu!=null">
				vm_vcpu=#{vmVcpu},
			</if>
			<if test="vmName!=null">
				vm_name=#{vmName},
			</if>
			<if test="vmMemory!=null">
				vm_memory=#{vmMemory},
			</if>
			<if test="vmStatus!=null">
				vm_status=#{vmStatus},
			</if>
			<if test="hostId!=null">
				host_id=#{hostId},
			</if>
			<if test="desc!=null">
				vm_desc=#{desc},
			</if>
			<if test="showType!=null">
				show_type=#{showType},
			</if>
			<if test="showPort!=null">
				show_port=#{showPort},
			</if>
			<if test="vmMacAddress!=null">
				vm_mac_address=#{vmMacAddress},
			</if>
			<if test="showPassword!=null">
				show_password=#{showPassword},
			</if>
			<if test="isTemplateVm!=null">
				is_template_vm=#{isTemplateVm},
			</if>
			<if test="isPublicTemplate!=null">
				is_public_template=#{isPublicTemplate},
			</if>
			<if test="vmNetworkType!=null">
				vm_network_type=#{vmNetworkType},
			</if>
			<if test="imageUuid!=null">
				image_uuid=#{imageUuid},
			</if>
			<if test="imageTotalSize!=null">
		        image_total_size=#{imageTotalSize},
			</if>
			<if test="isCanRead!=null">
				canread_status=#{isCanRead},
			</if>
			<if test="imageVersion!=null">
				image_version=#{imageVersion},
			</if>
			<if test="lastHostId!=null">
				last_hostid=#{lastHostId},
			</if>
			gmt_modified=now()
		</set>
		WHERE vm_uuid=#{vmUuid}
	</update>

	<select id="countQuery" resultType="int">
		SELECT COUNT(*)
		FROM
		mycloud_vm
		<where>
			<include refid="query-condition" />
		</where>
	</select>

	<select id="query" resultMap="RM-VmDO">
		SELECT
		<include refid="select-param-column" />
		FROM mycloud_vm
		<where>
			<include refid="query-condition" />
		</where>
		<include refid="page-limit" />
	</select>

</mapper>